
/* Estilos para pantallas más grandes (Computador) */
@media (min-width: 768px) {

    /* Jumbotron */
    .jumbotron {
        margin-top: -30px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: 600px;
    }

 
    /* Contenido Sec 1 izquierda */
    .left {
        margin-top: 100px;
        margin-left: 3px;
        background-color: rgb(0, 0, 0);
        border-top-right-radius: 150px;
        border-bottom-right-radius: 50px;
        border-top-left-radius: 50px;
        border-bottom-left-radius: 150px;
        padding: 10px;
        color: white;
    }

    .left h1,
    .left h2,
    .left p,
    .d-flex,
    .left a {
        margin: 10%;
    }

    .left h1 {
        font-size: 2.3rem;
        line-height: 2.3rem;
        font-weight: 900;
        margin-bottom: 0%;
    }

    .left h6 {
        margin-bottom: 1%;
        margin: 10%;
        font-style: italic;
    }

    .left h2 {
        font-size: 1.1rem;
        font-weight: 100;
        font-stretch: narrower;
        word-spacing: 5px;
        margin-bottom: 2px;
    }

    .left p {
        margin-top: 1dvi;
        font-size: 1.125rem;
        line-height: 1.75rem;
        margin-bottom: 2%;
    }
 /* Contenido Sec 1 Derecha */
    .right {
        margin-top: 100px;
        background: url(img/bg.png) ;
        background-size: cover;
        background-position: center;
    }




    /* Estilos Generales */




    body {
        margin: 0;
        padding: 0;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        background-color: #ffffff;
    }

    .carouselk {
        margin-top: 60px; /* Ajusta el valor según sea necesario para aumentar la separación */
    }


    /* Estilos para el carrusel */


    .carousel-item {
        backdrop-filter: blur(10px); /* Aplica un desenfoque de 10px al fondo de los elementos del carrusel */
        
    }

    .carousel-caption {
        background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente negro para los textos del carrusel */
        padding: 1px;
        border-radius: 5px;
        bottom: 150px;
    }

    /* Estilos para los controles del carrusel */
    .carousel-control-prev-icon, .carousel-control-next-icon {
        background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente negro para los iconos de control */
        border-radius: 50%; /* Bordes redondeados para los iconos de control */
        color: white; /* Color del icono */
        font-size: 24px; /* Tamaño del icono */
        padding: 15px; /* Espaciado interno */
    }

    .carousel-control-prev, .carousel-control-next {
        width: 5%; /* Ancho del área de control */
    }

    /* Animación de fade-in para los elementos del carrusel */
    .fade-in {
        animation: fadeIn ease 1s;
        -webkit-animation: fadeIn ease 1s;
        -moz-animation: fadeIn ease 1s;
        -o-animation: fadeIn ease 1s;
        -ms-animation: fadeIn ease 1s;
    }

    @keyframes fadeIn {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    @-moz-keyframes fadeIn {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    @-webkit-keyframes fadeIn {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    @-o-keyframes fadeIn {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    @-ms-keyframes fadeIn {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }



    /* Preguntas Frecuentes */

    .inverted-emoji {
        display: inline-block;
        transform: scaleY(-1);
        transform: scale(-1);
    }


    .faq_tittle {
        font-size: 50px;
        color: #1f1f1f;
        font-weight: bold;
        margin-top: 10px;
    }


    .faq_text {
        font-size: 20px;
        color: #1f1f1f;
        margin-top: -10px;
        margin-bottom: -10;
    }


    #faq {
        background-color: #ffffff;
        color: #000000;
        padding: 30px;
        border-radius: 10px;
        margin-top: -100px;
    }

    #faq .accordion-button {
        background-color: #ffffff;
        color: #000000;
        border: none;
        border-radius: 5px;
    }

    #faq .accordion-button:hover {
        background-color: #002e8a;
        color: #ffffff;
    }

    #faq .accordion-body {
        background-color: #ffffff;
        color: #3b3b3b;
        border: none;
        border-radius: 10px;
        padding: 10px;
    }


    #preguntas {
        scroll-margin-top: 250px; 
    }




    /* Navbar*/

    .container-fluid {
        margin-top: 1px;
    width: 98%;
    }

    .nav-link:hover {
        color: #858585 !important;
    }

    .nav-link {
        color: #000000 !important;
    }

    .navbar {
        height: 60px;
        background-color: #ffffff !important;
        border-bottom: 0.1px solid #e2e2e2; /* Agregar borde de 1px de grosor y color negro */
        border-bottom-left-radius: 20px; /* Esquinas redondeadas */
        border-bottom-right-radius: 20px; /* Esquinas redondeadas */
        
    }

    .navbar-toggler {
        line-height: 0;
        color: #000000 !important;
        background-color: rgb(255, 255, 255) !important;
    }




    /* Botón Jumbotron*/
    .btncolor1 {
        background-color: rgb(228, 114, 0);
        color: rgb(255, 255, 255);
        border-radius: 15px;
        border: none;
    }

    .btncolor2 {
        background-color: rgb(0, 201, 104);
        color: rgb(255, 255, 255);
        border-radius: 15px;
        border: none;
    }

    .btncolor3 {
        background-color: rgb(174, 0, 0);
        color: rgb(255, 255, 255);
        border-radius: 15px;
        border: none;
    }

    .portafolio_tittle {
        font-size: 50px;
        color: #1f1f1f;
        font-weight: bold;
        margin-top: 10px;
    }


    .portafolio_text {
        font-size: 20px;
        color: #1f1f1f;
        margin-top: -10px;
    }

    .btncolor:hover {
        background-color: rgb(227, 216, 8);
        color: rgb(255, 255, 255);
    }

    .services_section{

        margin-top: 100px;

    }

    .services_tittle {
        font-size: 50px;
        color: #1f1f1f;
        font-weight: bold;
        margin-top: 10px;
    }


    .services_text {
        font-size: 20px;
        color: #1f1f1f;
        margin-top: -10px;
        margin-bottom: 50px;
    }

    .services_img {
        width: 100%;
        display: block; /* Para que funcione margin: 0 auto; */
        margin: 0 auto; /* Centra horizontalmente */
    }


    .btn_main {
        width: 170px;
        margin: 0 auto;
        text-align: center;
    }

    .btn_main a {
        width: 100%;
        float: left;
        font-size: 16px;
        color: #ffffff;
        background-color: #2412E6;
        text-align: center;
        padding: 10px 0px;
        border-radius: 30px;
        font-weight: bold;
        margin-top: 40px;
        text-transform: uppercase;
    }

    .btn_main a:hover {
        color: #ffffff;
        background-color: #000d10;
        transition: 0.5s;
    }

    .btn_main.active a {
        color: #ffffff;
        background-color: #000d10;
    }
    .btn_main.active a:hover {
        color: #ffffff;
        background-color: #1b00e8;
        transition: 0.2s;
    }

    /* Seccion cotizaciones */

    .about_section {
        width: 100%;
        float: left;
        padding-bottom: 90px;
    }

    .about_taital_main {
        width: 100%;
        padding-left: 100px;
        padding-top: 70px;
    }

    .padding_right_0 {
        padding-right: 0px;
    }

    .about_taital {
        width: 100%;
        float: left;
        font-size: 70px;
        color: #1f1f1f;
        font-weight: bold;
        margin-top: 30px;
        margin-bottom: 0px;
    }

    .about_tittle {
        background-color: rgba(0, 0, 0, 0.808); /* Fondo semitransparente negro para los textos del carrusel */
        padding: 1px;
        border-radius: 5px;
        color: white;
        margin-top: 10px;
        width: 100%;

    }

    .about_text {
        width: 100%;
        float: left;
        font-size: 16px;
        color: #1f1f1f;
        margin: 0px;
        padding-top: 20px;
    }

    .about_text2 {
        width: 80%;
        margin: 0 auto; /* Establece márgenes automáticos para centrar el elemento */
        font-size: 14px;
        color: #1f1f1f;
        padding-top: 20px;
        margin-bottom: 150px;
        margin-left: -10px;
    }
    
    .carousel-caption {
        padding: 1px;
        border-radius: 5px;
        bottom: 150px;

    }

    .readmore_bt {
        width: 60%;
        margin: 1px auto 0;
        text-align: center;
        transition: 0.3s;
    }

    .readmore_bt a {
        width: 320px; /* Ajusta el ancho según tus necesidades */
        font-size: 16px;
        color: #ffffff;
        background-color: #dfbd00;
        text-align: center;
        padding: 10px 0px;
        border-radius: 30px;
        font-weight: bold;
        text-transform: uppercase;
        transition: 0.3s;
        display: inline-block; /* Alinea el botón en línea */
    }

    .readmore_bt a:hover {
        color: #ffffff;
        background-color: #2b2278;
        width: 280px; /* Ajusta el ancho del botón al hacer hover */
    }




    .about_img {
        width: 100%;
        float: left;
    }






    /* Contacto*/
    .contacto {
    
        margin-bottom: -100px;
        width: 70%;
        border-bottom-left-radius: 50px;
        border-bottom-right-radius: 50px;
        border-top-right-radius: 50px;
        border-top-left-radius: 50px;
        background-color: #000000;
        justify-content: center;
        align-items: center; /* Centra verticalmente el contenido */
        margin-left: auto;
        margin-right: auto;
    }

    #contactanos {
        scroll-margin-top: 100px; 
    }



    .contacto_tittle{
        width: 50%;
        font-size: 40px;
        color: #ffffff;
        font-weight:bold;

    }


    .contacto_text {
        width: 100%;
        font-size: 20px;
        color: #ffffff;
        margin: 10px;
    
    }

    input {
        width: 70%;
        margin-bottom: 5px;
        padding: 9px;
        border-radius: 10px;
        border: 1px solid #ffffff;
    }

    .buttonks {
        width: 30%;
        padding: 10px;
        border: none;
        border-radius: 100px;
        background-color: #00a033;
        color: white;
        cursor: pointer;
        transition: 0.3s;
    }

    .buttonks:hover {
        width: 25%;
        padding: 10px;
        border: none;
        border-radius: 100px;
        background-color: #00218f;
        color: white;
        cursor: pointer;
        transition: 0.3s;
    }

    .buttonks i {
        margin-right: 5px; /* Espaciado entre el ícono y el texto */
    }

    .contenedor {
        width: 100%;
        text-align: center; /* Alinea los elementos del formulario al centro */
        display: flex;
        flex-direction: column; /* Establece la disposición vertical */
        align-items: center; /* Centra los elementos horizontalmente */
        justify-content: center; /* Centra los elementos verticalmente */
    }

    .contenedor input,
    .contenedor button {
        margin-bottom: 10px; /* Agrega espacio entre los elementos */
    }







    /* footer section start */

    .footer_section1{
        display: flex;
        flex-direction: row;
        align-items: center;
        position: relative;
        background-image: url(img/footer-bg.png);
        width: 100%;
        margin-top: 100px;
    }
    .footer_left {
        flex: 1; 
        display: flex;
        flex-direction: column;
        justify-content: center; /* Centra verticalmente */
        align-items: center; /* Centra horizontalmente */
        color: white;
        height: auto;
        padding-top: 250px;
        background-size: cover;
        background-repeat: no-repeat;
        position: relative; /* Asegura que la posición sea relativa */
    }

    .footer_links {
        margin-top: 20px;
        color: #b0b0b0;
    }

    .footer_links h3 {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .footer_links ul {
        list-style: none;
        padding: 0;
    }

    .footer_links li {
        margin-bottom: 8px;
    }

    .footer_links a {
        text-decoration: none;
        color: #6c6c6c;
        font-weight: bold;
    }

    .footer_links a:hover {
        color: #e27141;
    }


    .footer_logo {
        width: 300px;
        height: 300px;  
    }


    .footer_right {
        flex: 1; /* La parte derecha ocupará el mismo espacio que la izquierda */
        margin-bottom: 10px;   
        margin-top: 320px; /* Puedes ajustar la altura según sea necesario */
    }

    .footer_center {
        flex: 1;
        margin-top: 350px;
        display: flex;
        flex-direction: column;
        justify-content: center; /* Centra verticalmente */
        align-items: center; /* Centra horizontalmente */ 
    }


    .mail_text {
        width: 100%;
        float: right;
        font-size: 18px;
        color: #2b2c2c;
        background-color: #ffffff;
        height: auto;
        padding: 5px 20px;
        border-radius: 20px;
        border: 0px;
    }

    .social_icon {
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }

    .social_icon ul {
        margin: 0px;
        padding: 0px;
        display: inline-block;
        text-align: center;
    }

    .social_icon li {
        float: right;
        padding: 30px 5px;
    }

    .location_main {
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }


    .call_text {
        width: 100%;
        float: left;
        font-size: 16px;
        color: #ffffff;
        padding-top: 10px;
        text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.5); /* Agrega sombra al texto */
    }

    .call_text a {
        color: #ffffff;
    }

    .call_text a:hover {
        color: #e27141;
    }


    /* Copyright section styles */
    .copyright_section {
        background-color: #000000;
        display: flex;
        justify-content: center; /* Centra horizontalmente */
        align-items: center; /* Centra verticalmente */
        height: 100px; /* Establece la altura deseada */
    }

    /* Texto de derechos de autor */
    .copyright_text {
        color: #ffffff;
        font-size: 16px;
    }

    /* Estilos para enlaces */
    .copyright_text a {
        color: #ff7b00;
        text-decoration: none;
        transition: color 0.3s ease; /* Agrega una transición suave al color del texto al pasar el mouse sobre los enlaces */
    }

    .copyright_text a:hover {
        color: #0400ff;
    }





    /* Propiedades Texto Slides */
    .container {
        padding-top: 50px;
        padding-bottom: 50px;
    }



    h4 {
        margin-bottom: 20px;
    }

    ul {
        list-style: none;
        padding-left: 0;
    }

    ul li {
        margin-bottom: 10px;
    }


    /* Estilos URLs*/
    a {
        color: #ffffff; 
        text-decoration: none; 
        transition: color 0.3s;
    }

    a:hover {
        color: #0267ff; /* Color al pasar el mouse */
    }

    /* Tarjetas de productos */
    .card-body .btn-primary {
        background-color: rgb(0, 0, 188); 
        border-color: rgb(0, 36, 154); 
        transition: background-color 0.3s, border-color 0.3s;
    }

    .card-body .btn-primary:hover {
        background-color: rgb(207, 197, 0);
        border-color: rgb(255, 234, 0); 
    }


}


/* Estilos para pantallas más pequeñas (Teléfonos) */
@media (max-width: 768px) {

    .carousel-caption {
        background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente negro para los textos del carrusel */
        padding: 1px;
        border-radius: 5px;
        bottom: 150px;
      
    }


    .readmore_bt {
        width: 270px;
        float: left;
        margin-top: 50px;
        transition: 0.3s;
    }
    .text-slider{
        font-size: small;
        
        }
    .col-md-4 {
        text-align: center;
        margin-bottom: 20px;
    }

     /* Contenido Sec 1 izquierda */
    .jumbotron {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
    }


    /* Contenido Sec 1 izquierda */
    .left {
        margin-left: 0;
        margin-right: 3px;
        margin-top: 50px;
        background-color: rgb(0, 0, 0);
        border-top-right-radius: 200px;
        border-bottom-right-radius: 200px;
        padding: 18px;
        color: white;
    }

    .left h1,
    .left h2,
    .left p,
    .left a {
        margin: 5%;
        white-space: normal !important; 
    }

    .d-flex {
        margin: 0.5%;
        white-space: normal !important; 
        margin-top: 25px;
        margin-bottom: 25px;
    }

    .left h1 {
        font-size: 2.3rem;
        line-height: 2.3rem;
        font-weight: 900;
    }

    .left h6 {
        margin-bottom: 10px;
        margin-top: 40px;
        font-style: italic;
        margin-right: 30%;
        font-size: 10px;
    }

    .left h2 {
        font-size: 1.1rem;
        font-weight: 100;
        font-stretch: narrower;
        word-spacing: 5px;
        margin-bottom: 5%;
    }

    .left p {
        margin-top: 2px;
        font-size: 1.125rem;
        line-height: 1.51rem;
        margin-bottom: 0.1px;
        white-space: normal !important; 
    }

     /* Contenido Sec 1 Derecha */
    .right {
        margin-top: 40px;
        margin-bottom: 10px;
        background: url(img/bg.png) no-repeat ;
        background-size: cover;
        background-position: center;
        width: 100%; 
        height: 400px; 
    }

     /* Estilos Tarjetas/Productos*/
    .card-container {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    
      .card-container .card {
        width: 80%;
        margin: 15px 0;
      }


      /* Contacto*/
    .contactows{
    margin-top: 100px;
    background-color: #000000;
    border-radius: 15px;
    }

    .buttonks:hover {
        width: 25%;
        padding: 10px;
        border: none;
        border-radius: 100px;
        background-color: #00218f;
        color: white;
        cursor: pointer;
        transition: 0.3s;
    }



    .footer_section1{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        background-image: url(img/footer-bg.png);
        width: 100%;
        margin-top: 100px;
    }
    .footer_left {
        flex-direction: column;
        margin-top: -350px;
        padding-top: 250px;
    }
    

    
    .footer_right {
        margin-top: -30px;
    }
    


    .footer_links{
        margin-bottom: -600px;
        display: none;
    }




/*________________________________________________________________________________*/



body {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #ffffff;
}

.carouselk {
    margin-top: 61px; /* Ajusta el valor según sea necesario para aumentar la separación */
}


/* Estilos para el carrusel */


.carousel-item {
    backdrop-filter: blur(10px); /* Aplica un desenfoque de 10px al fondo de los elementos del carrusel */
    
}



/* Estilos para los controles del carrusel */
.carousel-control-prev-icon, .carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente negro para los iconos de control */
    border-radius: 50%; /* Bordes redondeados para los iconos de control */
    color: white; /* Color del icono */
    font-size: 24px; /* Tamaño del icono */
    padding: 15px; /* Espaciado interno */
}

.carousel-control-prev, .carousel-control-next {
    width: 10%; /* Ancho del área de control */
}

/* Animación de fade-in para los elementos del carrusel */
.fade-in {
    animation: fadeIn ease 1s;
    -webkit-animation: fadeIn ease 1s;
    -moz-animation: fadeIn ease 1s;
    -o-animation: fadeIn ease 1s;
    -ms-animation: fadeIn ease 1s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}



 /* Preguntas Frecuentes */

 .inverted-emoji {
    display: inline-block;
    transform: scaleY(-1);
    transform: scale(-1);
}


 .faq_tittle {
    font-size: 30px;
    color: #1f1f1f;
    font-weight: bold;
    margin-top: 800px;
}


.faq_text {
    font-size: 20px;
    color: #1f1f1f;
    margin-top: -10px;
    margin-bottom: -10;
    font-style: italic;
}


 #faq {
    background-color: #ffffff;
    color: #000000;
    padding: 10px;
    border-radius: 10px;
    margin-top: -91px;
    margin-bottom: 10px;
  }

  #faq .accordion-button {
    background-color: #ffffff;
    color: #000000;
    border: none;
    border-radius: 5px;
  }

  #faq .accordion-button:hover {
    background-color: #002e8a;
    color: #ffffff;
  }

  #faq .accordion-body {
    background-color: #ffffff;
    color: #3b3b3b;
    border: none;
    border-radius: 10px;
    padding: 10px;
  }


  #preguntas {
    scroll-margin-top: 250px; 

}




/* Navbar*/

.container-fluid {
    margin-top: 1px;
   width: 100%;
}

.nav-link:hover {
    color: #858585 !important;
}

.nav-link {
    color: #000000 !important;
}

.navbar {
    height: 60px;
    background-color: #ffffff !important;
    border-bottom: 0.1px solid #e2e2e2; /* Agregar borde de 1px de grosor y color negro */
    border-bottom-left-radius: 20px; /* Esquinas redondeadas */
    border-bottom-right-radius: 20px; /* Esquinas redondeadas */
    
}

.navbar-toggler {
    line-height: 0;
    color: #000000 !important;
    background-color: rgb(255, 255, 255) !important;
}




/* Botón Jumbotron*/
.btncolor1 {
    background-color: rgb(228, 114, 0);
    color: rgb(255, 255, 255);
    border-radius: 15px;
    border: none;
}

.btncolor2 {
    background-color: rgb(0, 201, 104);
    color: rgb(255, 255, 255);
    border-radius: 15px;
    border: none;
}

.btncolor3 {
    background-color: rgb(174, 0, 0);
    color: rgb(255, 255, 255);
    border-radius: 15px;
    border: none;
}

.portafolio_tittle {
    font-size: 40px;
    color: #1f1f1f;
    font-weight: bold;
    margin-top: 60px;
}


.portafolio_text {
    font-size: 15px;
    color: #1f1f1f;
    margin-top: -10px;
    width: 80%;
    font-style: italic;
}

.btncolor:hover {
    background-color: rgb(227, 216, 8);
    color: rgb(255, 255, 255);
}

.services_section{

    margin-top: 0px;

}

.services_tittle {
    font-size: 40px;
    color: #1f1f1f;
    font-weight: bold;
    margin-top: 10px;
}


.services_text {
    font-size: 15px;
    color: #1f1f1f;
    margin-top: -10px;
    margin-bottom: 50px;
    width: 80%;
    font-style: italic;
}

.services_img {
    width: 70%;
    display: block; /* Para que funcione margin: 0 auto; */
    margin: 0 auto; /* Centra horizontalmente */
}


.btn_main {
    width: 170px;
    margin: auto;
    text-align: center;
    margin-top: -20px;
    margin-bottom: 150px;

}

.btn_main a {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #ffffff;
    background-color: #2412E6;
    text-align: center;
    padding: 10px 0px;
    border-radius: 30px;
    font-weight: bold;
    margin-top: 40px;
    text-transform: uppercase;
}

.btn_main a:hover {
    color: #ffffff;
    background-color: #000d10;
    transition: 0.5s;
}

.btn_main.active a {
    color: #ffffff;
    background-color: #000d10;
}
.btn_main.active a:hover {
    color: #ffffff;
    background-color: #1b00e8;
    transition: 0.2s;
}

/* Seccion cotizaciones */

.about_section {
    width: 100%;
    float: left;
    padding-bottom: 90px;
}

.about_taital_main {
    width: 100%;
   

}

.padding_right_0 {
    padding-right: 0px;
}

.about_taital {
    width: 100%;
    font-size: 40px;
    color: #1f1f1f;
    font-weight: bold;
    margin-top: 0px;
  
    
}

.about_tittle {
    background-color: rgba(0, 0, 0, 0.702); /* Fondo semitransparente negro para los textos del carrusel */
    padding: 1px;
    border-radius: 100px;
    color: white;
    margin-top: 10px;
    width: 80%;
    font-size: 30px;
    text-align: center; /* Alinea el texto al centro */
    margin-left: auto; /* Centra el bloque horizontalmente */
    margin-right: auto; /* Centra el bloque horizontalmente */

}



.about_text {
    width: 90%;
    justify-content: left;
    font-size: 15px;
    color: #1f1f1f;
    margin: 0px;
    padding-top: 30px;
    margin-left: 30px;

}

.about_text2 {
    width: 90%;
    justify-content:left;
    font-size: 13px;
    color: #1f1f1f;
    margin: 0px;
    margin-bottom: 10px;
    margin-left: 20px;

}

.carousel-caption {
    padding: 1px;
    border-radius: 5px;
    bottom: 20px;

}

.readmore_bt {
    width: 100%;
    margin: auto;
    text-align: center;
    transition: 0.3s;
    display: inline-block;
}


.readmore_bt a {
    width: 270px; /* Ajusta el ancho según tus necesidades */
    font-size: 16px;
    color: #ffffff;
    background-color: #dfbd00;
    text-align: center;
    padding: 10px 0px;
    border-radius: 30px;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.3s;
    display: inline-block; /* Alinea el botón en línea */
}

.readmore_bt a:hover {
    color: #ffffff;
    background-color: #2b2278;
    width: 290px; /* Ajusta el ancho del botón al hacer hover */
}




.about_img {
    width: 100%;
    float: left;
}






/* Contacto*/
.contacto {
   
    margin-bottom: -100px;
    width: 100%;
  
    background-color: #000000a1;
    justify-content: center;
    align-items: center; /* Centra verticalmente el contenido */
    margin-left: auto;
    margin-right: auto;
}

#contactanos {
    scroll-margin-top: 100px; 
}



.contacto_tittle{
    width: 100%;
    margin-top: 10px;
    font-size: 28px;
    color: #ffffff;
    font-weight:bold;

}


.contacto_text {
    width: 90%;
    font-size: 15px;
    color: #ffffff;
    margin: 10px;
  
}

input {
    width: 80%;
    margin-bottom: 5px;
    padding: 9px;
    border-radius: 10px;
    border: 1px solid #ffffff;
}

.buttonks {
    width: 40%;
    padding: 10px;
    border: none;
    border-radius: 100px;
    background-color: #00a033;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

.buttonks:hover {
    width: 35%;
    padding: 10px;
    border: none;
    border-radius: 100px;
    background-color: #00218f;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

.buttonks i {
    margin-right: 5px; /* Espaciado entre el ícono y el texto */
}

.contenedor {
    width: 100%;
    text-align: center; /* Alinea los elementos del formulario al centro */
    display: flex;
    flex-direction: column; /* Establece la disposición vertical */
    align-items: center; /* Centra los elementos horizontalmente */
    justify-content: center; /* Centra los elementos verticalmente */
}

.contenedor input,
.contenedor button {
    margin-bottom: 10px; /* Agrega espacio entre los elementos */
}







/* footer section start */



.footer_links {
    margin-top: 20px;
}

.footer_links h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.footer_links ul {
    list-style: none;
    padding: 0;
}

.footer_links li {
    margin-bottom: 8px;
}

.footer_links a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.footer_links a:hover {
    color: #e27141;
}


.footer_logo {
    width: 300px;
    height: 300px;  
}




.footer_center {
    flex: 1;
    margin-top: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra verticalmente */
    align-items: center; /* Centra horizontalmente */ 
}


.mail_text {
    width: 100%;
    float: right;
    font-size: 18px;
    color: #2b2c2c;
    background-color: #ffffff;
    height: auto;
    padding: 5px 20px;
    border-radius: 20px;
    border: 0px;
}

.social_icon {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.social_icon ul {
    margin: 0px;
    padding: 0px;
    display: inline-block;
    text-align: center;
}

.social_icon li {
    float: right;
    padding: 40px 5px;
}

.location_main {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}


.call_text {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #ffffff;
    padding-top: 15px;
    text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.5); /* Agrega sombra al texto */
}

.call_text a {
    color: #ffffff;
}

.call_text a:hover {
    color: #e27141;
}


/* Copyright section styles */
.copyright_section {
    background-color: #000000;
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    height: 100px; /* Establece la altura deseada */
}

/* Texto de derechos de autor */
.copyright_text {
    color: #ffffff;
    font-size: 14px;
    margin-top: 40px;
}

/* Estilos para enlaces */
.copyright_text a {
    color: #ff7b00;
    text-decoration: none;
    transition: color 0.3s ease; /* Agrega una transición suave al color del texto al pasar el mouse sobre los enlaces */
}

.copyright_text a:hover {
    color: #0400ff;
}



/* Propiedades Texto Slides */
.container {
    padding-top: 50px;
    padding-bottom: 50px;
}



h4 {
    margin-bottom: 20px;
}

ul {
    list-style: none;
    padding-left: 0;
}

ul li {
    margin-bottom: 10px;
}


/* Estilos URLs*/
a {
    color: #ffffff; 
    text-decoration: none; 
    transition: color 0.3s;
}

a:hover {
    color: #0267ff; /* Color al pasar el mouse */
}

/* Tarjetas de productos */
.card-body .btn-primary {
    background-color: rgb(0, 0, 188); 
    border-color: rgb(0, 36, 154); 
    transition: background-color 0.3s, border-color 0.3s;
}

.card-body .btn-primary:hover {
    background-color: rgb(207, 197, 0);
    border-color: rgb(255, 234, 0); 
}








}
